
@import 'variables';

/*
  only when a used 
*/
.btn,
.btn:link,
.btn:visited{
  position: relative;
  text-transform: uppercase;
  text-decoration: none;  
  text-align: center;  
  color: var(--color-primary);
  border-radius: 0.2rem;
  //animate hover and active movements
  //transition needs to be present here (inital state)
  transition: all .2s;
  z-index: 1;

  //button styling
  border: none;
}

//on hover rise button up
.btn:hover{
  //transform: translateY(-0.1em);
  box-shadow: var(--box-shadow-3);  
}

//on click lower down (from inital position)
.btn:active,
.btn:focus{
  transform: translateY(0.05em);
  box-shadow: var(--box-shadow-2);
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;  
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

//by default light color is used
//only when btn-white we change this 
//see .btn-white (line 86+)
.btn.ripple:after{
  background-image: radial-gradient(
    circle, 
    var(--color-primary-light) 10%, 
    transparent 10.01%
  );
}

.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-light-0);  
}

.btn.btn-accent{
  background-color: var(--color-primary-dark);
  color: var(--color-light-1);
}

.btn.btn-white{
  background-color: var(--color-light-0);;
  color: var(--color-primary-dark);;  
}

.btn.btn-white.ripple:after{
  background-image: radial-gradient(
    circle, 
    var(--color-primary) 10%, 
    transparent 10.01%
  );
}

.btn-lg{
  padding: 1rem 4rem;
  font-size: 2rem;
}

.btn-md{
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.btn-sm{
  padding: 0.5rem 1rem;
  font-size: 1rem;
}