/*
  CSS VARIABLES 
  these in included in CSS and can be used by js 'on-the-fly'
  SCSS variables are only used during compilation of CSS code
  This project test use of CSS variables
*/

:root{
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-light-0: #fff;
  --color-light-1: #faf9f9;
  --color-light-2: #f4f2f2;
  --color-light-3: #f0eeee;
  --color-light-4: #ccc;
  --color-dark-1: #333;
  --color-dark-2: #777;
  --color-dark-3: #999;

  --warn-color: red;

  --box-shadow-1: 0 2rem 6rem rgba(0,0,0,.3);
  --box-shadow-2: 0 2rem 5rem rgba(0,0,0,.07);
  --box-shadow-3: 0 0.2rem 1rem rgba(0,0,0,.2);

  --box-shadow-xs: 0 0.1rem 0.5rem rgba(0,0,0,.2);
  --box-shadow-sm: 0 0.2rem 1rem rgba(0,0,0,.2);
  --box-shadow-md: 0 1rem 4rem rgba(0,0,0,.2);
  --box-shadow-lg: 0 2rem 8rem rgba(0,0,0,.2);


  --border: 1px solid var(--color-light-3);
}
