
.page{
  &-body-header{
    display: flex;    
    justify-content: space-between;
    align-items: baseline;
    border-bottom: var(--border-1);
    padding-bottom: 0.25rem;
    font-size: 1rem;
  }
}