/*
  Footer.scss
  v.0.0.1
*/

.app{
  &-footer{
    display:flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
}

.footer{
  &-left{
    display:flex;
    font-size: 1rem;
  }
  &-right{
    display:flex;
    font-size: 0.7rem;
  }
}
