

.app{

  &-header{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow-2);
  }

  &-header-left{
    display: flex;
    align-items: baseline;
    height: 4rem;
  }

  &-logo{
    height: 3rem;
  }

}